POSTGRES_DB=soundwaves
POSTGRES_USER=soundwaves_dev
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=soundwaves
DATABASE_USER=soundwaves_dev
DATABASE_PASSWORD=change_me
